<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLDJrJvAQX_O8hFuTdV5eN860CzDX5lKM</string>
	<key>GCM_SENDER_ID</key>
	<string>896314024679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mergatoLivre</string>
	<key>PROJECT_ID</key>
	<string>mergato-livre</string>
	<key>STORAGE_BUCKET</key>
	<string>mergato-livre.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896314024679:ios:6d82582445484a3ddb3842</string>
</dict>
</plist>